

<table border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr>
      <td>
         <h2>Terms and Conditions:</h2>
      </td>
   </tr>
   <tr>
      <td>
         <p>- Payment 100 % against Regeneration Items and delivery of Items.</p>
         <p>- The Items is traceable to National/International Versions.</p>
         <p>- This Quotation is Valid for 3 month from date of issue.</p>
         <p>- For Regeneration request customer has to submit the declaration form along with Challan.</p>
         <!-- <p>- GST (18%) Extra on above</p> -->
      </td>
   </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr>
      <td>
         <h2>FEATURE OF OUR SERVICES:</h2>
      </td>
   </tr>
   <tr>
      <td>
         <p>- Our Company is ABCF Sponsored as pers.</p>
         <p>- Each Items will accompany measurement uncertainty as per ABC traceable to National/International
            .
         </p>
         <p>- We follow Indian/International Versions for the Regeneration of Items and ISO for
            Regeneration
         </p>
         <p>- Regular Re-call notice will be sent one month in advance with respect of due date of Regeneration
         </p>
      </td>
   </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr>
      <td>
         <h2>PREREQUISITE FOR ON-SITE Regeneration: </h2>
      </td>
   </tr>
   <tr>
      <td>
         <p>- Payment shall be made 100% Payment against PI. </p>
         <p>- The customer is requested to take out the Items and keep ready for Regeneration. A clean A/C Room
            with a table and stabilized electric supply should be provided.</p>
         <h2>We expect to receive your valuable order soon.</h2>
         <h2>&nbsp;&nbsp;&nbsp;&nbsp;Thanking you and assuring you our best </h2>
         <h2>&nbsp;&nbsp;&nbsp;&nbsp;Co-operation at all time. </h2>
      </td>
   </tr>
</table>


<table border="0" cellpadding="0" cellspacing="0" width="100%">

   <tr>
      <td>
         <p style="color: #4d85c8;font-weight: 600;">Account Detail</p>
         <p style="color: #4d85c8;font-weight: 600;">Account No. : </p>
         <p style="color: #4d85c8;font-weight: 600;">BANK NAME : BANK</p>
         <p style="color: #4d85c8;font-weight: 600;">IFSC CODE : </p>
         <p style="color: #4d85c8;font-weight: 600;">GST No : </p>
      </td>
   </tr>
</table>


<table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top:50px">
   <tr>
      <td>
         <h3> <img src="https://pmmpl.calibra.live/static/vikram.png" width="100" height="100"
               style="color: #2e5b5f;"></h3>
         <h3>Regards,</h3>
         <h3>Satish</h3>
         <h3>(GM & TM)</h3>
         <h3>+</h3>
      </td>
   </tr>
</table>