{% load static %}




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src =
         "https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
             </script>  -->
    <link href="//db.onlinewebfonts.com/c/31ed0189fe1ff1e740a652e0f75b77dc?family=Snell+Roundhand" rel="stylesheet"
        type="text/css" />
    <title>Quotation</title>
    <style>
        th,
        td {
            padding: 3px;
        }

        th {
            background-color: black;
            color: white;
        }



        @page {
            size: a4 portrait;

            @frame header_frame {
                /* Static Frame */
                -pdf-frame-content: header_content;
                left: 50pt; width: 512pt; top: 10pt; height: 145pt;
               
            }

            @frame content_frame {
                /* Content Frame */
                left: 50pt; width: 512pt; top: 135pt; height: 632pt; 
            }

            @frame footer_frame {
                /* Another static Frame */
                -pdf-frame-content: footer_content;
                left: 50pt; width: 512pt; top: 772pt; height: 65pt;
            }
        }
    </style>
</head>

<body>
    <div id="header_content">
        {% include 'base/navbar.html' %}
    </div>


    <div>
        <table width="100%" align="center" border="0">
            <thead>
                <tr>
                    <td>
                        <div class="page-header-space"></div>
                    </td>
                </tr>
            </thead>
            <tbody width="100%">
                <tr>
                    <td>
                        <div class="page-body" style="font-size:12px;">
                            <table width="90%" align="center" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style="width:100%">
                                        <h1 align="center" style="font-size:24px;color: #538dd3;margin-top: -20px;
                                    margin-bottom: 0px;"><u>QUOTATION</u></h1>
                                    </td>
                                </tr>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="text-align: left;float: left;color: #538dd3;" width="30%">
                                        <h2>Ref : 1234567</h2>
                                    </td>
                                    <td style="text-align: right;float: right;color: #538dd3;" width="30%">
                                        <h2>Date : 27/MAY/2022</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <h1 style="color:#001f5b;margin-top: 0px;margin-bottom: 0px;">Dreambox Inc.</h1>
                                        <p style="font-size:15px;color:#001f5b;margin-top: 5px;margin-bottom: 0px;">
                                            G-196, Sector
                                            63 Rd, G Block, S 63, Noida, Uttar Pradesh 201301
                                        </p>
                                        <p style="font-size:15px;color:#001f5b;margin-top: 5px;margin-bottom: 0px;">
                                            Uttar Pradesh - 201306
                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:100%">
                                        <p style="font-size:15px;color:#001f5b;margin-top: 5px;margin-bottom: 0px;">
                                            Email I/D. : dreambox@gmail.com
                                        </p>
                                        <p style="font-size:15px;color:#001f5b;margin-top: 5px;margin-bottom: 0px;">
                                            Contact No :-
                                            <span class="bio">+9718458998</span>
                                        </p>

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:100%">
                        <p style="font-size:15px;color:#001f5b;margin-top: 5px;margin-bottom: 0px;">Kind Attn. : Satish
                            Yadav
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size:15px;color:#001f5b">Dear Sir/Madam,</p>
                        <p style="font-size:15px;color:#001f5b;margin-top:-10px;">
                            With reference to your enquiry we are
                            pleased to quote our best price for Regeneration.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table">
        <table class="table" class="f12 mt10" cellpadding="6" cellspacing="0" width="100%" border="1">
            <tr>
                <th>S. No.</th>
                <th>Item Name</th>
                <th>Remarks</th>
                <th>Price</th>
                <th>Qty.</th>
                <th>Amount in INR</th>

            </tr>
            {% for data in records %}
            <tr>
                <td sttyle="width: 10%; text-align: left;">{{data.s_no}}</td>
                <td style="width: 25%;">{{data.item_name}}</td>
                <td style="width: 20%;">{{data.remark}}</td>
                <td sttyle="width: 15%; text-align: left;">{{data.price}}</td>
                <td style="width: 10%;"> {{data.quantity}}</td>
                <td v>{{data.amount}}</td>
            </tr>
            {% endfor %}
            <tr>
               <td colspan="4" style="border-top: 1px solid #ababab;border-left: 1px solid #ababab;" align="center">
                  Total </td>
               <td style="border-top: 1px solid #ababab;border-left: 1px solid #ababab;">50</td>
               <td
                  style="border-top: 1px solid #ababab;border-left: 1px solid #ababab;border-right: 1px solid #ababab;">
                  50000</td>
            </tr>
            <tr>
               <td colspan="4" style="border-top: 1px solid #ababab;border-left: 1px solid #ababab;" align="center">
                  Discount </td>
               <td style="border-top: 1px solid #ababab;border-left: 1px solid #ababab;">0</td>
               <td
                  style="border-top: 1px solid #ababab;border-left: 1px solid #ababab;border-right: 1px solid #ababab;">
                  0</td>
            </tr>
            <tr>
               <td colspan="5" style="border-top: 1px solid #ababab;border-left: 1px solid #ababab;" align="center">
                  Conveyance Chargers </td>
               <td
                  style="border-top: 1px solid #ababab;border-left: 1px solid #ababab;border-right: 1px solid #ababab;">
                  0</td>
            </tr>
            <tr>
               <td colspan="5" style="border-top: 1px solid #ababab;border-left: 1px solid #ababab;" align="center">
                  GST@18% </td>
               <td
                  style="border-top: 1px solid #ababab;border-left: 1px solid #ababab;border-right: 1px solid #ababab;">
                  1555</td>
            </tr>
            <tr>
               <td colspan="5" style="border-top: 1px solid #ababab;border-left: 1px solid #ababab;" align="center">
                  Grand Total </td>
               <!-- <td style="border-top: 1px solid #ababab;border-left: 1px solid #ababab;">12</td> -->
               <td
                  style="border-top: 1px solid #ababab;border-left: 1px solid #ababab;border-right: 1px solid #ababab;">
                  55000</td>
            </tr>
        </table>
    </div>

    <div id="footer_content">
        <div class="page-footer-space">
            <center>
               <h1>Dreambox </h1>
            </center>
            <center>
               <p> Sector 63 Noida 201303</p>
            </center>
         </div>

        <p> page <pdf:pagenumber />  </p>

    </div>
<div>
{% include 'base/footer.html' %}
    </div>
</body>

</html>